<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <body class="prod">








        
    
    </body>    
    <%- include('../partials/footer.ejs') %>


</html>