<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
    <body class="prod">

    <h3>Inicio</h3><br><br>
    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
        </style>

    <div class="fotoalmedio">
        <a href="/productos/Pasteleria"><img text-align="center" src="/images/products/fotoProductoPagInicio.jpeg" alt="" height="95%"
            width="95%"></a>
    </div>
    <br>
    <div class="fotoalmedio">
        <h2 text-align="center">¿Que te tentó? </h2><a href="index"><h2> PRODUCTOS</h2></a>
        <br>
        <a href="/productos/Chocolate"><img text-align="center" src="/images/products/P1110019.jpg" alt="" height="65%" width="65%"></a>
    </div>
</body>

<%- include('partials/footer.ejs') %>

</html>